/* Common revealjs slide styles */

.reveal .footer p {
  gap: 40px;
}

.reveal .footer .footer-text {
  font-size: 0.94em;
  font-weight: 400;
}

.reveal .footer .footer-text a {
  font: inherit !important;
  color: inherit !important;
}

.reveal .sources h1 {
  font-size: 3.5rem;
}

.reveal .section-header {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reveal .section-header h1 {
  border-bottom: 12px solid #f9461c;
  display: inline-block;
  font-size: 5.6rem;
  margin: 0 auto;
  padding: 0 0 18px;
}
